@page "/OrderedLinesView/{orderId:int}"
@using WarehouseAutomation.Data;
@using WarehouseAutomation.Data.Interfaces;

@inject IProductRepository ProductRepository
@inject ICustomerRepository CustomerRepository
@inject IOrderRepository OrderRepository
@inject IOrderLineRepository OrderLineRepository
@inject NavigationManager NavManager

<div class="container-fluid">
    <h2>Order:@orderId</h2>
    <div class="row bg-light">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Orderline Id</th>
                    <th>Product Id</th>
                    <th>Product name</th>
                    <th>Order Id</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderLine orderLine in orderLines)
                {
                    <tr>
                        <td>@orderLine.Id</td>
                        <td>@orderLine.ProductId</td>
                        <td>@orderLine.Product.Name</td>
                        <td>@orderLine.OrderId</td>
                        <td>@orderLine.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int orderId { get; set; }

    List<OrderLine> orderLines;
    protected override async Task OnInitializedAsync()
    {
        await ProductRepository.GetAllAsync();
        orderLines = await OrderLineRepository.GetOrderLinesOrderIdAsync(orderId) as List<OrderLine>;
    }

    private async Task GuiUpdate()
    {
        await OnInitializedAsync();
    }
}
